asgiref==3.7.2
dj-database-url==2.1.0
Django==4.2.6
django-extensions==3.2.3
import-export==0.3.1
importlib==1.0.4
numpy==1.26.1
pandas==2.1.1
Pillow==10.1.0
PyMuPDF==1.23.5
PyMuPDFb==1.23.5
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
psycopg2 == 2.9.9
psycopg == 3.1.12
